{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div id="particles-js"></div>
    <header class="header">
        <a href="#" class="logo">Rfa<span>Fotos</span></a>
        <i class="fa-solid fa-bars" id="menu-ico"></i>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#portafolio">Portafolio</a>
            <a href="#" style="border: 1px solid #47BFAF; border-radius: 35px; padding: 10px;" >Probar Demo</a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}">Cerrar Secion</a>
            {% endif %}
        </nav>
    </header>

    <section class="home" id="home">
        <div class="home-content">
            <h3>Hola , bienvenido</h3>
            <h1>Advanced Face Recognition</h1>
            <h3>significa <span class="multiple-text"></span></h3>
            <p>Seria genial poder seleccionar tus fotos de todo tu albun de fotos solo en donde tu apareces o
                donde tus amigos y familiares aparecen bien estas en el lugar adecuado </p>
            <div class="social-media">
                <a href="#"><i class="fa-brands fa-python"></i></a>
                <a href="#"><i class="fa-brands fa-js"></i></a>
                
                                        <a title="Google" href="/accounts/google/login/?process=login&amp;next=%2F" class="btn btn-google btn-user btn-block" style="border: 1px solid #4285F4; border-radius: 25px;">
                                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c" style="width: 24px; height: 24px;">
                                                <g>
                                                    <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                                                    <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                                                    <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                                                    <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                                                    <path fill="none" d="M0 0h48v48H0z"></path>
                                                </g>
                                            </svg>
                                        </a>
            </div>
            <div class="btn">
                <a href="{% url 'account_login' %}">Iniciar Secion</a>
                <a href="{% url 'account_signup' %}" >Crear una cuenta</a>
            </div>
        </div>
        
    </section>

    <section class="about" id="about">
        <div class="about-img">
            <video class="vid" autoplay loop controls>
                <source src="{% static 'vid/faces.mp4' %}" type="video/mp4">
                Tu navegador no admite la reproducción de videos.
            </video>

        </div>
        <div class="about-content">
            <h2 class="heading">Como<span> Funciona?</span></h2>
            <h3>Gracias a las Redes Neuronales</h3>
            <p>Nuestro algoritmo es esencialmente un conjunto de instrucciones escritas en Python que utilizan
                bibliotecas sofisticadas como TensorFlow y OpenCV. Estas herramientas nos permiten entrenar redes
                neuronales convolucionales, que son expertos en el reconocimiento de patrones en imágenes, como
                rostros. En el video podrán apreciar a una red neuronal entrenada exclusivamente para reconocer a
                Cillian Murphy. ¡Es simplemente fascinante!</p>
            <div class="btn">
                <a href="#" class="btn">Prueba una Demo</a>
            </div>
            
        </div>
    </section>

    <section class="services" id="services">
        <h2 class="heading">My <span>Services</span></h2>

        <div class="services-container">
            <div class="services-box">
                
                <i class="fa-solid fa-video"></i>
                <h3>Reconocimiento Facial en tiempo real</h3>
                <p>Experimenta la magia del reconocimiento facial en tiempo real al ingresar al sistema y descubre cómo
                    identificamos rostros al instante.</p>
                    <div class="btn">
                        <a href="#" class="btn">Read more</a>
                    </div>
        
            </div>
            <div class="services-box">
                <i class="fa-solid fa-palette"></i>
                <h3>UI/UX developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus tempore veniam officia hic
                    explicabo, eius, maxime architecto nostrum voluptatem ipsa laborum voluptatum quibusdam officiis
                    consequuntur tenetur atque autem cupiditate dolore?</p>
                    <div class="btn">
                        <a href="#" class="btn">Read more</a>
                    </div>
                
            </div>
            <div class="services-box">
                <i class="fa-brands fa-android"></i>
                <h3>App developer</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus tempore veniam officia hic
                    explicabo, eius, maxime architecto nostrum voluptatem ipsa laborum voluptatum quibusdam officiis
                    consequuntur tenetur atque autem cupiditate dolore?</p>
                    <div class="btn">
                        <a href="#" class="btn">Read more</a>
                    </div>
            </div>
        </div>
    </section>
    <!--Portafolio-->
    <section class="portafolio" id="portafolio">
        <h2 class="heading">Latest <span>Projects</span></h2>
        <div class="portafolio-container">
            <div class="portafolio-box">
                <img src="{% static 'img/mujer.jpg' %}" alt="">
                <div class="portafolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nihil?</p>
                    <i class="fa-brands fa-android"></i>
                </div>
            </div>
            <div class="portafolio-box">
                <img src="{% static 'img/mujer.jpg' %}" alt="">
                <div class="portafolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nihil?</p>
                    <i class="fa-brands fa-android"></i>
                </div>
            </div>
            <div class="portafolio-box">
                <img src="{% static 'img/mujer.jpg' %}" alt="">
                <div class="portafolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nihil?</p>
                    <i class="fa-brands fa-android"></i>
                </div>
            </div>
            <div class="portafolio-box">
                <img src="{% static 'img/mujer.jpg' %}" alt="">
                <div class="portafolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nihil?</p>
                    <i class="fa-brands fa-android"></i>
                </div>
            </div>
            <div class="portafolio-box">
                <img src="{% static 'img/mujer.jpg' %}" alt="">
                <div class="portafolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nihil?</p>
                    <i class="fa-brands fa-android"></i>
                </div>
            </div>
            <div class="portafolio-box">
                <img src="{% static 'img/mujer.jpg' %}" alt="">
                <div class="portafolio-layer">
                    <h4>Web Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nihil?</p>
                    <i class="fa-brands fa-android"></i>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2024 by Advanced Face Recognition | All Rights Reserved.</p>

        </div>
        <div class="footer-icoTop">
            <a href="#home" id="home"><i class="fa-solid fa-angle-up"></i></a>
        </div>
    </footer>

    

    
    <script src="{% static 'js/particles.min.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script src="{% static 'js/graficos.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>